@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
}

/* SIDE BAR */

.side-bar{
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #11101D;
    user-select: none;
    transition: width .6s;
}
.side-bar ul{
    padding: 15px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
}
.bar-item{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .4s;
}
.bar-item a{
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    transition: all .4s;
}
.bar-item:nth-child(2) a{
    background-color: #1d1b31;
}
.bar-item:nth-child(2) .item-icon{
    background-color: #1d1b31;
}
.side-bar .bar-item:nth-child(2) a:hover{
    background-color: #1d1b31;
    color: #fff;
}
.side-bar .bar-item:nth-child(2) a:hover .item-icon{
    background-color: #1d1b31;
    color: #fff;
}
.side-bar .bar-item a:hover{
    background-color: #fff;
    color: #11101D;
}
.side-bar .bar-item a:hover .item-icon{
    color: #11101D;
}
.item-icon{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: transparent;
    transition: all .4s;
}
.side-bar.active .item-icon:hover{
    background-color: #fff;
    color: #11101D;
}
.bar-item:first-child a .item-icon{
    font-size: 29px;
}
#menu-btn{
    font-size: 22px;
    pointer-events:all;
}
#menu-btn:hover{
    background-color: #11101D;
    color: #fff;
}
.item-icon::before, #menu-btn{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-dash{
    position: absolute;
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 12px;
    pointer-events: none;
    opacity: 0;
    background-color: #ddd;
    transition: all .4s;
}
.item-icon{
    font-size: 22px;
    color: #fff;
}
#search-inp{
    outline: none;
    border: none;
    height: 50px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    background-color:transparent;
    color: #fff;
}
.bar-footer{
    background-color: #1d1b31;
    width: calc(100% + 30px);
    transform: translate(-15px,0px);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar-footer img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 12px;
}
.footer-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.info-text{
    color: #fff;
}
.info-text p:first-child{
    font-size: 16px;
}
.info-text p:nth-child(2){
    font-size: 12px;
}
.item-close{
    position: relative;
    pointer-events: all;
    transition: width .6s, opacity .5s, visibility .7s;
}


/* ACTIVE */
.side-bar.active{
    width: 75px;
}
.side-bar.active .bar-item .item-close{
    width: 0%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.side-bar.active .bar-item:first-child .item-icon:hover ~ .item-dash,
.side-bar.active .bar-item:last-child .item-icon:hover ~ .item-dash
{
    opacity: 1; 
    transform: translateX(75px);
}
.side-bar.active a:hover ~ .item-dash{
    opacity: 1; 
    transform: translateX(75px);
}